name: multinterp-dev
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - numba
  - cupy
  - matplotlib
  - jupyter
  - jupyterlab
  - scikit-learn
  - scikit-image
  - pytorch
  - pytorch-cuda
